@model Sistema_Viajes.Models.RegistroViaje

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RegistroViaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaViaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaViaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sucursal.FSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transportista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transportista.FTransportista)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRegistroViaje">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
