@model IEnumerable<Sistema_Viajes.Models.RegistroViaje>

@{
    ViewData["Title"] = "Registro de Viaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de Viaje</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaViaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaViaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.FSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportista.FTransportista)
            </td>
            <td>
                    <a "btn btn-outline-success" asp-action="Edit" asp-route-id="@item.IdRegistroViaje">Editar</a> |
                    <a "btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdRegistroViaje">Informació</a> |
                    <a "btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdRegistroViaje">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
