@model Sistema_Viajes.Models.Sucursal

@{
    ViewData["Title"] = "Elimiar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Seguro que desea realizar esta acción</h3>
<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distancia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSucursal" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index">Regresar a sucursal</a>
    </form>
</div>
