@model IEnumerable<Sistema_Viajes.Models.Sucursal>

@{
    ViewData["Title"] = "Sucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sucursales Simán</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear nueva sucursal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUbicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distancia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUbicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distancia)
            </td>
            <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.IdSucursal">Editar</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdSucursal">Información</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdSucursal">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
