@model IEnumerable<Sistema_Viajes.Models.Transportista>

@{
    ViewData["Title"] = "Transportista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transportista FarSimán</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear nuevo Transportista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FTransportista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FTransportista)
            </td>
            <td>
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.IdTransportista">Editar</a> |
                    <a class="btn btn-outline-info"  asp-action="Details" asp-route-id="@item.IdTransportista">Información</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdTransportista">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
